/**
 * Skip
 */

.contents-skip {
  display: block;
  text-align: center;
  background-color: $primary !important;
  color: #fff;
  font-weight: 500;
  padding: 6px 0;

  &:focus {
    position: fixed;
    width: 100%;
    z-index: 9999999;
  }

  &:focus,
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
